:root{
    --first: #1b2f38;
    --second: #8f1724;
    --third: #e59903;
    --fourth: #b3c6cf;
}

canvas, .camBox, .camBox h4{
    background-color: var(--second);
    color: var(--third);
    text-align: center;

}

.bcThirdLight{
    background-color: #f7be4d;;
}

.camBox{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}

@font-face {
    font-family: Monserrat;
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'DM Serif';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}


/* ========= 1. Background sólido ========= */
.bcFirst  { background-color: var(--first);  }
.bcSecond { background-color: var(--second); }
.bcThird  { background-color: var(--third);  }
.bcFourth { background-color: var(--fourth); }

/* ========= 2. Background degradado ========= */
/* 1–2, 2–3, 3–4, 4–1 (puedes crear otros pares igual) */
.bcFirstSecond  { background: linear-gradient(135deg, var(--first),  var(--second)); }
.bcSecondThird  { background: linear-gradient(135deg, var(--second), var(--third));  }
.bcThirdFourth  { background: linear-gradient(135deg, var(--third),  var(--fourth)); }
.bcFourthFirst  { background: linear-gradient(135deg, var(--fourth), var(--first)); }

/* ========= 3. Color de texto ========= */
.cFirst  { color: var(--first);  }
.cSecond { color: var(--second); }
.cThird  { color: var(--third);  }
.cFourth { color: var(--fourth); }


.select{
    background-color:   #6a111a !important;
    color: white !important;
}

.ff1{
    font-family: 'DM Serif';
}

.ff2{
    font-family: 'Monserrat';
}




